body,html{
    -ms-scroll-chaining:none;
    overscroll-behavior:none;
    margin:0;
    padding:0;
    background:
  linear-gradient(
    to bottom,
    rgba(0,0,0,0.45),
    rgba(0,0,0,0.15)
  ),
  url("../assets/test.jpg") center / cover no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}



.min-h-full{
    min-height:100vh
}

.flex{
    display:flex
}

.flex-both-center{
    display:flex;
    justify-content:center;
    align-items:center
}

.flex-wrap{
    flex-wrap:wrap
}

.flex-h-center{
    display:flex;
    justify-content:center
}

.item-center{
    align-items:center
}

.flex-dir-c{
    flex-direction:column
}

.mx-auto{
    margin-left:auto;
    margin-right:auto
}
.mt-2{
    margin-top:2px
}
.mt-4{
    margin-top:4px
}
.mt-8{
    margin-top:8px
}
.mt-12{
    margin-top:12px
}
.mt-16{
    margin-top:16px
}
.mt-24{
    margin-top:24px
}
.mt-32{
    margin-top:32px
}
.mt-48{
    margin-top:48px
}
.mt-120{
    margin-top:120px
}
.mb-48{
    margin-bottom:48px
}
.m-auto{
    margin:auto
}
.ml-6{
    margin-left:6px
}
.py-10{
    padding:10px
}
.ln-h-22{
    line-height:22px
}
.ln-h-32{
    line-height:32px
}

.text-fs-14{
    font-size:14px
}
.text-fs-16{
    font-size:16px
}
.text-fs-18{
    font-size:18px
}
.text-fs-20{
    font-size:20px
}
.text-fs-22{
    font-size:22px
}

.font-inter{
    font-family:Inter,sans-serif
}
.font-weight-500{
    font-weight:500
}
.font-weight-600{
    font-weight:600
}

.color-white{
    color:#fff
}
.color-gray{
    color:hsla(0,0%,100%,.9)
}
.color-dark{
    color:#222
}
.color-danger{
    color:#ff4963
}

.page-bg{
    position:fixed;
    inset:0;
    z-index:-1;
    height:100vh;
    width:100vw
}
.page-image {
    object-position: center;

}

.display-image {
    border-radius: 50%;
}

.page-title {
    font-size: 18px;
    font-weight: 700;
}

.page-bioline {
    font-size: 16px;
    font-weight: 600;
}

.page-item-title {
    font-size: 30px;
    font-weight: 1000;
}

.page-item-each {
    color: #1F365C;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    border-radius: 8px;
    
    min-height: 60px;
}

.page-item-wrap {
    margin: 16px 0;
}

.page-item-wrap:last-child {
    margin-bottom: 0;
}

.page-item-wrap:hover {
    transform: translate3d(0px, 0px, 0px) scale(1.015);
}
.first-item {
    background-image: url("../assets/d234b6d9610b6caa7c93e326395690db.jpg");
}
.second-item {
    background-image: url("../assets/830564c7333904790107ee98d1089e28.jpg");
}
.page-item {
    border: 0px solid #FFFFFF;
    border-radius: 8px;
   box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(24, 39, 75, 0.05);
}


.embed-wrap iframe, .embed-wrap-inside {
    border-radius: 8px;
}

.link-each-image, .page-item-wrap {
    border-radius: 8px;
}

.page-text-font {
    font-family: 'Inter', sans-serif;
    text-transform: none;
}

.page-text-color {
    color: #fff;
}

.social-icon-fill path, .social-icon-fill circle, .social-icon-fill rect {
    fill: #fff;
}

.page-overlay-btn {
    border: 2px solid #1F365C;
}

.w-full{
    width:100%
}

.w-250{
    width:250px
}
.h-150,.h-165{
    height:150px
}

.background-overlay{
    position:fixed;
    width:100%;
    height:100%;
    z-index:0
}

.page-overlay{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,.1);
    -webkit-backdrop-filter:blur(20px);
    backdrop-filter:blur(20px);
    z-index:100
}
.page-overlay-btn{
    text-decoration:none;
    font-family:Inter,sans-serif;
    background:transparent;
    padding:10px 30px;
    border-radius:6px;
    font-size:1.2em;
    display:inline-block;
    cursor:pointer
}
.page-overlay-title{
    font-size:30px;
    font-family:sans-serif
}

.page-overlay-text{
    font-size:18px
}

.page-image{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    -o-object-fit:cover;
    object-fit:cover
}

.display-image{
    width:96px;
    height:96px;
    display:block;
    border-radius:50%;
    -o-object-fit:cover;
    object-fit:cover
}
.text-center{
    text-align:center
}

.page-title{
    margin-bottom:0
}

.page-bioline{
    font-weight:500
}

.page-full-wrap{
    width:680px;
    z-index:10;
    padding-bottom:176px
}
.page-item-wrap{
    transition:transform .15s cubic-bezier(.17,.67,.29,2.71) 0s
}

.page-item-wrap.show-embed{
    border-radius:30px;
    transition:unset;
    transform:unset
}

.page-item-wrap.show-embed:hover{
    transform:unset
}

.page-item-wrap.show-embed:hover .page-item:after,.page-item-wrap.show-embed:hover .page-item:before{
    -webkit-animation:unset;
    animation:unset
}

.show-embed-item{
    overflow:hidden;
    transition:all .3s ease-in-out
}

.page-item-wrap.show-embed .show-embed-item{
    overflow:visible
}

.embed-ind-arrow-icon{
    transform:rotate(-90deg)
}

.page-item-wrap.show-embed .embed-ind-arrow-icon{
    transform:rotate(0deg)
}

.page-item{
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:-1
}
.page-social{
    display:block;
    cursor:pointer;
    margin:0 12px 12px
}

.page-social svg{
    width:28px;
    height:28px
}

.relative{
    position:relative
}

.link-each-image{
    width:43px;
    height:43px;
    position:absolute;
    left:9px;
    -o-object-fit:cover;
    object-fit:cover
}

.page-logo{
    position:absolute;
    bottom:32px;
    left:calc(50% - 15px)
}

.page-logo:hover svg .bl-logo-br{
    opacity:1
}

.rounded-md{
    border-radius:8px
}

.close-embed{
    width:25px;
    height:25px;
    border-radius:50%;
    background:#fff;
    opacity:.7
}

.embed-wrap{
    width:100%;
    box-sizing:border-box;
    padding:8px;
    height:100%
}

.embed-ind-arrow{
    position:absolute;
    right:24px;
    height:14px;
    top:calc(50% - 7px);
    margin-bottom:16px
}

.embed-ind-arrow-icon{
    transition:all .4s ease-in-out
}

.close-embed:hover{
    opacity:1
}

.cursor-pointer{
    cursor:pointer
}

.page-item-each{
    text-decoration:none;
    overflow:hidden;
    z-index:10;
    box-sizing:border-box
}

.item-title{
    color: white;
    font-weight: 800;
    width:55%;
    word-break:break-word
}
.social-icon-anchor{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0
}

.page-social:hover{
    transition:all .1s ease-in-out;
    transform:scale(1.1)
}

.page-item-title{
    font-weight:700;
    margin-bottom:16px
}

.embed-wrap-inside{
    background-color:#fff;
    display:flex;
    justify-content:center;
    box-sizing:border-box;
    padding:10px;
    height:100%;
    overflow:hidden
}

.embed-wrap-inside iframe{
    width:auto;
    min-width:500px
}

.embed-wrap-inside{
    position:relative
}

.embed-wrap-inside:after{
    content:"";
    position:absolute;
    height:85%;
    width:495px;
    border:10px solid #fff;
    transition-property:border;
    transition-duration:.2s;
    pointer-events:none
}

.w-400{
    width:400px
}


@media (max-width:768px){
    .page-full-wrap{
        width:90%
    }
    .embed-wrap-inside iframe{
        width:100%;
        min-width:unset
    }
    .page-overlay-title{
        font-size:24px;
        margin:16px 0
    }
    .embed-wrap-inside:after{
        width:93%
    }
}

@media (max-width:480px){
    .campaign-main-wrap{
        width:100%;
        padding:0 24px
    }
    .xs-hidden{
        display:none
    }
    .xs-w-100{
        width:100%
    }
    .xs-w-150{
        width:150px
    }
    .featured-subscribers{
        height:150px;
        padding:24px 16px 32px
    }
    .h-165{
        height:165px
    }
    .xs-mt-6{
        margin-top:6px
    }
    .xs-mt-8{
        margin-top:8px
    }
    .xs-mt-16{
        margin-top:16px
    }
    .xs-mt-32{
        margin-top:32px
    }
    .xs-mx-24{
        margin:auto 24px
    }
    .xs-block{
        display:block
    }
}

@media (max-width:400px){
    .embed-wrap-inside:after{
        width:90%
    }
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scroll-text {
    font-size: clamp(3rem, 10vw, 10rem);
    font-weight: 900;
    color: #ffffff;
    display: inline-block;
    line-height: 1;
    will-change: transform;
  }
  